body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #e6e6e6;
    background: #191919;
    /* 增加锚点跳转过度效果 */
    scroll-behavior: smooth;
}
.mdui-drawer {
    font-size: 14px;
    color: #fff;
    background-color: #292929;
    border-radius: 5px;
    margin-left: 16px;
    max-height: min-content;
}
@media (min-width: 1024px) {
    .mdui-container {
        width: 96%;
    }
    .mdui-drawer {
      width: 200px;
    }
}
.mdui-card {
    color: #fff;
    background-color: #292929;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: all .2s;
    text-align: center;
}
/* 锚点元素位置 */
.anchor-element {
    position: absolute;
    /*控制距离顶部 100px*/
    top: -180px;
    visibility: hidden;
}
.link-line {
    font-size: 14px;
    /* border-bottom: 1px solid #dddddd; */
    height:56px;
    position:relative;
    overflow: hidden;
}
.link-line .angle{
    width:50px;
    height:70px;
    position: absolute;
    background: #FF5722;
    top:-50px;
    right:-50px;
    transform: rotate(45deg);
    color:#fff;
}
.link-line .angle span{
    position: absolute;
    bottom:0;
    display: block;
    width:20px;
    text-align: center;
}

.link-line a{
    color:#212121;
    text-decoration:none;
}
.link-space{
    margin-top:16px;
    z-index:999;
}
.link-title{
    /*color:rgb(0,0,0);*/
    font-size:14px;
    font-weight:bold;
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height:15px;
}
.link-content{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    
}
.default-title h1{
    font-size: 1.2em;
}
.category-name{
    padding-left:20px;
    font-weight: bold;
}
.category-name i {
    padding-right:20px;
}
footer{
    width:100%;
    /* margin-top:2em; */
    text-align:center;
    line-height: 18px;
    margin-top:2em;
    margin-bottom: 2em;
    color:#ffffffb4;
}
footer a{
    color:#ffffffb4;
    text-decoration: none;
}

.hidden {
    display: none;
}

.cat-title{
    font-size: 16px;
    font-weight: 500;
    color: #e6e6e6;
    margin-left: 5px;
    margin-top: 16px;
}

/* :target {
    padding-top: 70px;
    margin-top: -70px;
  } */

.category_sub{
    font-size:14px;
    margin-left:0px;
    /*padding-left:8px;*/
}
.category_sub i{
    padding-right:5px;
}

h1 {
    color: #6c7274;
    font-size: 16px;
    font-weight: bold;
    line-height: inherit;
    /* border-left: 2px solid #6c7274; */
    padding-left: 16px;
}
.mdui-list-item-content {
    font-size: 14px;
}